body {
    background-color: hsl(217, 54%, 11%) ; 
}
.left{
    flex: 1  auto;
}
.right{
    flex: 1  auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 3%;
    height: 600px;
    width:300px;

}

.card img {
    position: inherit;
    padding-top: 20px;
    padding-left: 20px;
    height: 300px;
    width:260px;
    align-content: center;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
    
}

p {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.price {
    display: inline;
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
}

.timeLeft {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    color: hsl(215, 51%, 70%);
    padding-right:20px;
    text-align: right;

}